:root {
    --body-bg-color: #121212;
    --bg-color: #2C3E50;
    --blog-card: #f1f8ff;
    --text-color: #F6F7F8;
    --box-shadow: #121212;
    --nav-link-color: #FFC107;
    --nav-link-hover-color: #1E88E5;
    --navbar-bg-color: rgba(0, 0, 0, 0.692);
    --footer-social-bg: #1E88E5;
    --footer-bg: #2C3E50;
    --footer-nav-item: #FFC107;
    --overlay-color: rgba(0, 0, 0, 0.5);
}

body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.navbar .logo {
    color: var(--nav-link-color);
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}
        
.line {
    background-color: var(--nav-link-color);
    height: 4px;
    width: 100px;
    margin-bottom: 5px;
}

.hero li {
    list-style: none;
}
